{% extends "template_base.html" %}

{% block title %}The current time{% endblock %}

{% block content %}
<script>
  $(document).ready(function() {
    $('#formato').inputmask('99-99');
  });
</script>

<h2>Rango De Edades</h2>
<label for="exampleInputEmail1" class="form-label">Año censo</label>
<input type="number" name="" id="" max="2015" min="2000" value="2017" disabled>
  <form class="row" method="POST">{% csrf_token %}
    <div class="col m-2">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Ingrese el Rango de edad(desde-hasta)</label>
        <input type="text" class="form-control" name="edad" placeholder="Rango de edad" id="formato">
      </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Cantidad Hombres</label>
            <input type="number" class="form-control" name="canHombres">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Cantidad Mujeres</label>
            <input type="number" class="form-control" name="canMujeres">
          </div>
    </div>
    <div class="col mt-5 m-2">
        <button type="submit" class="btn btn-success mb-3">Guardar</button>
        <br>
        <button type="submit" class="btn btn-danger">Eliminar</button>
    </div>
    <div class="form-group">
      <a href="/includata/dashboards/censo/" type="submit" class="btn btn-dark">Regresar</a>
    </div>
  </form>
{% endblock %}