{% extends "template_base.html" %}

{% block title %}The current time{% endblock %}

{% block content %}

<h2>Sector Economico</h2>
<label for="exampleInputEmail1" class="form-label">Año censo</label>
<input type="number" name="" id="" max="2015" min="2000" value="2017" disabled>
  <form class="row"  method="POST">
    {% csrf_token %}
    <div class="col m-2">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Ingrese erl tipo de Sector economico</label>
        <input type="text" class="form-control" name="tipoSecE" placeholder="Sector Economico">
      </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Cantidad Hombres</label>
            <input type="number" class="form-control" name="canHombres" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Cantidad Mujeres</label>
            <input type="number" class="form-control" id="exampleInputPassword1" name="canMujeres">
          </div>
    </div>
    <div class="col mt-5 m-2">
        <button type="submit" class="btn btn-success mb-3">Guardar</button>
        <br>
        <button type="submit" class="btn btn-danger">Eliminar</button>
    </div>
    <div class="form-group">
      <a href="/includata/dashboards/censo/" type="submit" class="btn btn-dark">Regresar</a>
    </div>
  </form>

{% comment %} <form action="/buscar/" method="GET">

    <input type="text" name="categoria">
    <input type="submit" value="Buscar">
</form> {% endcomment %}
{% endblock %}